.mdl-card a {
	text-decoration: none;
	position: relative;
}
.mdl-card__title-text {
	z-index: 1;
}
.card-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
}
.mdl-card__supporting-text strong {
	display: block;
}